body {
  color: rgb(60, 60, 60);
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}

h1 {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

p i {
  font-size: 200%;
  padding: 0.25em 0.5em 0.25em 0;
  vertical-align: middle;
}

span {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: #6B8F9B;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #375663;
  animation-name: pulse;
  transition: color 0.2s ease-in-out;
}

.main {
  margin-top: 5%;
}

.profile {
  border-radius: 50%;
  max-width: 100%;
  margin: 0px;
}

@media only screen and (min-width: 550px) {
  .profile {
    transform: translateY(1.5em);
  }
  .main {
    margin-top: 25%;
  }
}

.social {
  padding-top: 0.2em;
  font-size: 500%;
  text-align: center;
}

.oops {
  text-align: center;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?rcyi6o');
  src: url('../fonts/icomoon.eot?rcyi6o#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?rcyi6o') format('truetype'), url('../fonts/icomoon.woff?rcyi6o') format('woff'), url('fonts/icomoon.svg?rcyi6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}

.icon-library:before {
  content: "\e921";
}

.icon-file-text2:before {
  content: "\e926";
}

.icon-location:before {
  content: "\e947";
}

.icon-terminal:before {
  content: "\ea81";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}
