body {
  color: rgb(60, 60, 60);
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}

h1 {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

p i {
  font-size: 200%;
  padding: 0.25em 0.5em 0.25em 0;
  vertical-align: middle;
}

span {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: #232347;
  font-weight: bolder;
  transition: color 0.8s ease-in-out, text-shadow 0.8s ease-in-out;
  text-shadow: #232347 0 0 0.1rem; /* mainly to make text more prominent */
}

a:hover {
  color: #D5641C;
  animation-name: pulse;
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  text-shadow: #D5641C 0 0 0.1rem;
}

.main {
  margin-top: 5%;
}

.profile {
  border-radius: 50%;
  max-width: 100%;
  margin: 0px;
}

@media only screen and (min-width: 550px) {
  .profile {
    transform: translateY(1.5em);
  }
  .main {
    margin-top: 25%;
  }
}

.social {
  padding-top: 0.2em;
  font-size: 500%;
  text-align: center;
}

.oops {
  text-align: center;
}
